.loginContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

    div#passwordInput {
        width: 100%;
        display: flex;
        align-items: center;

        input {
            width: 100%;
        }

        #loadingImg {
            width: 125px;
        }
    }

    img {
        width: 176px;
    }

    form {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        #messageWarning {
            width: 100%;
            text-align: center;
            font-weight: 300;
            background-color: rgb(253, 101, 101);
            border: solid 4px rgb(246, 76, 76);
            font-size: 0.8rem;
            padding: 0.4rem 1rem;
        }

        #checkSenha {
            display: block;
            border-bottom: solid 4px rgb(246, 76, 76);
            color: rgb(246, 76, 76);
        }

        #checkEmail {
            display: none;
            border-bottom: solid 4px rgb(246, 76, 76);
            color: rgb(246, 76, 76);
        }

        a.spanContent {
            color: var(--principal-primary-color);
        }

        div {
            gap: 8px;
            display: flex;
            flex-direction: column;
            justify-content: right;
            width: 375px;
        }

        input {
            padding: 0.6em 1.2em;
            border: solid 4px var(--principal-primary-color);
            border-radius: 16px;
            background: none;
            color: white;

            &:focus {
                outline: 0;
            }
        }

        button {
            width: 375px;
            height: 2.6rem;
            background-color: var(--principal-primary-color);
            border: 0;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
