.form_input input {
    background: transparent;
    padding: 0.7rem 1.5rem;
    border: 1px solid var(--color-tangerina);
    border-radius: 30px;
    color: var(--color-tangerina);
    width: 100%;
}

.form_input input::placeholder {
    color: var(--color-tangerina);
}

.form_input input:focus {
    outline: none;
}

.form_input input::placeholder:focus {
    border-bottom: 1px solid white;
    font-weight: 100;
}

.form_input {
    width: 100%;
}

.form_input input[type="number"]::-webkit-inner-spin-button,
.form_input input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

.inputSheet {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.4rem 1.2rem;
    gap: 1rem;
}

.inputSheet label {
    margin: 0 0.7rem;
    font-weight: 300;
}
