* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

#root {
    background-color: var(--color-azul-profundo);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    min-width: 150px !important;
    --color-tangerina: #f29559;
    --color-azul-profundo: #202c39;
    --color-porcelana: #f2d492;
}
