* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
#root {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

#root {
    background-color: var(--color-azul-profundo);
    display: flex;
    align-items: center;
    flex-direction: column;

    --color-tangerina: #f29559;
    --color-azul-profundo: #202c39;
    --color-porcelana: #f2d492;
}
